<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <style>
    .table-container {
      padding: 15px 20px;
    }
    .title {
      font-size: 25px;
      font-weight: 600;
      padding-bottom: 10px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    tr:hover {
      background-color: #ccc;
    }
  </style>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create Users</a>
    </div>
    <div class="table-container">
      <div class="title">List Users</div>

      <table>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Actions</th>
        </tr>
        
        <!-- <% for (let i = 0; i < listUsers.length; i++) { %>
          <tr>
          <td><%= listUsers[i].id %></td>
          <td><%= listUsers[i].email %> Griffin</td>
          <td><%= listUsers[i].name  %> $100</td>
          <td><%= listUsers[i].city %> $100</td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
    <% } %> -->
    <% listUsers.forEach(function(user) { %>
<tr>
          <td><%= user.id %></td>
          <td><%= user.email %> Griffin</td>
          <td><%= user.name  %> $100</td>
          <td><%= user.city %> $100</td>
          <td>
            <a  href="/update/<%= user.id %>" >Edit</a>
            <form action="/delete-user/<%= user.id %>" method="POST">
              <button>Delete</button>
            </form>
          </td>
        </tr> <% }); %> 
      </table>
    </div>
  </body>
</html>
